<h2>My heroes</h2>

<!-- *ngFor 반복문 let ? of ? -->
<!-- (click) 이벤트 바인딩 -->
<ul class="heroes">

  <!-- [class.selected]="hero == selectedHero"는 jquery의 addClass/removeClass와 동일 -->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero == selectedHero">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<!-- *ngIf 돔이 있거나 없거나 -->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}}</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name :
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>

